## Task 2: Adding the longitude and latitude coordinates to the dataframe

Import Libraries

In [42]:
import numpy as np
import pandas as pd

### Read the DataFrame from Part1

In [43]:
df = pd.read_csv('file2.csv',)

Convert content of PostalCode HTML table as dataframe

In [44]:
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

## Reading location services from internet

In [51]:
df2=pd.read_csv("http://cocl.us/Geospatial_data")
df2.rename(columns={'Postal Code': 'Postalcode'}, inplace=True)
df2.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### Retrieving Postal Code coordinates

In [52]:
for i in df.index:
    for j in df2.index:
        if df.iloc[i].Postalcode == df2.iloc[j].Postalcode:
            df['Latitude'] = df2['Latitude']
            df['Longitude'] = df2['Longitude']
            break
            
      
df.head(10)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

Adding columns Latitude and Longitude

In [53]:
df[df.Postalcode == 'M5G']

   Postalcode           Borough        Neighborhood   Latitude  Longitude
57        M5G  Downtown Toronto  Central Bay Street  43.657952 -79.387383